
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
	background-image: url('img/bg.jpg');
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
  color: white;
}

ul li a.active {
  background-color: #111111;
  color: white;
}

.main {
    max-width: 540px;
    margin: 60 auto;
	text-align: justify;
}

a:active     { 
	color: #000000 
}

a:link       { 
	color: #000000 
}

a:visited    { 
	color: #000000
}

a:hover		 { 
	color: #777777
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 10px;
    margin: 0px 0;
	align-items: center;
}

.cell {
    padding: 10px;
    border: none;
}

.cell > img {
	width: 157px;
}

table, th, td, .timetable {
	font-size: 12px;
	border: 1px solid;
	border-collapse: collapse;
	padding: 5px;
}

tr:nth-child(even) {
            background-color: #eee; /* Color for even rows */
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}